<!doctype html>
<html lang="en" ng-app="Movies">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="UTF-8">
	<title>Movie Buster</title>

	<link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="dist/style.css"/>

	<script src="dist/scripts.js"></script>
</head>
<body class="body" ng-controller="MovieController">

	<button class="trigger"></button>

	<div id="statistics" class="white-popup mfp-hide">
		<div id="yearchart" class="data"></div>
		<div class="data director">
			<h3>Your Favorite Directors</h3>
			<ul class="ul_director"></ul>
		</div>
		<div class="data categories">
			<h3>Your Favorite Genres</h3>
			<ul class="ul_categories"></ul>
		</div>
	</div>

	<div class="container_top">
		<div style="text-align:center;">
			<table style="display: inline-block">
				<tr>
					<td class="time_values">{{user.time.Day()}}:</td>
					<td class="time_values">{{user.time.Hour()}}:</td>
					<td class="time_values">{{user.time.Min()}} </td>
				</tr>
				<tr>
					<td class="time_labels padRight">DAYS</td>
					<td class="time_labels padRight">HOURS</td>
					<td class="time_labels">MINUTES</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="container_main">
		<form ng-submit="search(string)">
        	<input class="time" type="text" ng-model="string" placeholder="...." ng-change="search(string)">
       </form>

		<div class="sel">
			<span class="single_item" ng-repeat="item in result">
				<div class="img_overlay">
					<div class="temp" ng-click="addMovie(item)">
						<img ng-src="{{item.Poster}}" alt="{{item.Title}}">
						<div class="overlay_text">
							{{item.Title | cut:true:20:' ...'}}
						</div>
					</div class="temp">
				</div>
			</span>
		</div>
	</div>

	<div class="container_main">
		<div class="sel">
			<h2>Currently Selected Movies</h2>
			<span class="single_item" ng-repeat="mov in user.posters.pList">
				<div class="single_item" ng-click="removeMovie(mov)">
					<img ng-src="{{mov.Poster}}" alt="added">
				</div>
			</span>
		</div>
	</div>

</body>
</html>
